body {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Banner styling START */
.main-banner {
    background-image: url('BG/M45.jpg'); /* BG image */
    background-size: cover;
    background-position: bottom;
    padding: 100px; /* Banner height */
    text-align: center; /* align center */
    position: relative;
}

/* adj img */
.main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; /* layer */
}

/* Banner detail */
.main-banner .container {
    position: relative;
    z-index: 2; /* layer */
}

/* Banner Header */
.header-text h1 {
    font-size: 78px;
    margin-bottom: 30px;
    letter-spacing: 2px; 
    color: #fff;
}

.header-text p {
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 2px; 
    color: #fff;
}

/* Search text */
.searchText {
    width: 100%;
    max-width: 500px; 
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 50px 0 0 50px; /* left circular */
    outline: none;
}

/* Search botton */
.main-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 0 50px 50px 0; /* right circular */
    background-color: #2ca470; 
    color: #fff;
    cursor: pointer;
}

.main-button:hover {
    background-color: #238057;
}


/* Search area */
.search-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-area input,
.search-area button {
    margin: 0;
}

.search-area input {
    border-right: none;
}

.search-area button {
    border-left: none;
}

/* adj when max width < 400px */
@media screen and (max-width: 400px) {
    .main-banner h1 {
        font-size: 32px;
    }

    .search-area {
        flex-direction: column;
        align-items: center;
    }

    .search-area input,
    .search-area button {
        width: 100%;
        max-width: 300px;
        border-radius: 50px;
        margin-bottom: 10px;
    }

    .search-area input {
        border-right: none;
    }

    .search-area button {
        border-left: none;
    }
}
/* Banner styling END */
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Main styling START */
.main-content {
    max-width: 70%;      
    margin: 100px auto;      
    padding: 20px;          
    background-color: rgba(238, 238, 238, 0.65);
    border-radius: 10px;
}

.main-content h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
}

.main-content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.main-content p {
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}

.main-content ul {
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;           
    max-width: 100%;          
    box-sizing: border-box;   
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.main-button {
    display: block;
    width: 100%;           
    max-width: 100%;       
    padding: 15px;
    font-size: 18px;
    background-color: #2ca470;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;   
}

.main-button:hover {
    background-color: #238057;
}

