body {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
/* Banner styling START */
.main-banner {
    background-image: url('BG/M42BG.jpg'); /* BG image */
    background-size: cover;
    background-position: bottom;
    padding: 100px; /* Banner height */
    text-align: center; /* align center */
    position: relative;
}

/* adj img */
.main-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; /* layer */
}

/* Banner detail */
.main-banner .container {
    position: relative;
    z-index: 2; /* layer */
}

/* Banner Header */
.header-text h1 {
    font-size: 78px;
    margin-bottom: 30px;
    letter-spacing: 2px; 
    color: #fff;
}

.header-text p {
    font-size: 24px;
    margin-bottom: 30px;
    letter-spacing: 2px; 
    color: #fff;
}

/* Search text */
.searchText {
    width: 100%;
    max-width: 500px; 
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 50px 0 0 50px; /* left circular */
    outline: none;
}

/* Search botton */
.main-button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 0 50px 50px 0; /* right circular */
    background-color: #2ca470; 
    color: #fff;
    cursor: pointer;
}

.main-button:hover {
    background-color: #238057;
}

h4 {
    margin-bottom: 20px;
    font-size: 20px;
    border-bottom: 2px solid #333;  
    padding-bottom: 10px;
}

/* Search area */
.search-area {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-area input,
.search-area button {
    margin: 0;
}

.search-area input {
    border-right: none;
}

.search-area button {
    border-left: none;
}

/* ================================================ */
/* Main content container styling */
.main-content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #cccccc;
    border-radius: 10px;
}

/* Object Info */
.object-info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.object-info div {
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.object-info h3 {
    margin-top: 0;
    font-size: 18px;
}

.object-info p {
    text-align: center;
    font-size: 20px;
}

/* Data Display Section */
.data-display-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.data-selection {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-selection select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Display Data Section */
#display-data {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    position: relative;
    overflow: hidden; 
}

#display-data img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
    border-radius: 8px;
}

/* Display Image */
#image-container {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-color: #ffffff; 
    display: flex;
    justify-content: center; 
    align-items: center; /
}

#spectrum-image {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
}

#light-curve-image {
    max-width: none; 
    max-height: none; 
    transform-origin: center; 
    cursor: grab; 
    transition: transform 0.1s ease; 
}

/* Reset button */
#reset-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #2ca470; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-button:hover {
    background-color: #238057; 
}

#upload-form {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* 元素間距 */
}

/* Download button */
.upload-button,
.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2ca470; 
    color: white; 
    font-size: 16px;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
}

.upload-area {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #000000; 
    font-size: 16px;
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid #2ca470;
    cursor: pointer; 
}

.upload-button:hover,
.download-button:hover {
    background-color: #238057;
}

.data-selection h3 {
    text-align: center;
}

#photo-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

#photo-section img {
    max-width: 650px;
    height: auto;
    border-radius: 8px;
}


/* Right Panel with Photo and Star Map */
.right-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}


#comment-box {
    background-color: #ffffff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
}

#comment-form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#comment-form textarea {
    width: 70%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #000000;
}

#comment-form button {
    padding: 10px 15px;
    background-color: #2ca470;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #238057;
}

#comment-list {
    max-height: 500px; 
    overflow-y: auto; 
    margin-bottom: 20px; 
}

#comment-list .comment-item {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}

#comment-list .comment-item small {
    color: #888;
}

#comment-textarea[data-tooltip]:after {
    content: attr(data-tooltip); 
    display: none;
    position: absolute;
    top: -25px; 
    left: 0;
    background-color: #ff4d4f; 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

#comment-textarea.error[data-tooltip]:after {
    display: block;
}


#star-map {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#star-map button{
    display: inline-block;
    padding: 3px 6px;
    background-color: #2ca470; 
    color: white; 
    font-size: 12px;
    text-align: center;
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
}

#star-map button:hover{
    background-color: #238057;
}

#aladin-lite-div {
    border: 2px solid #222;
    border-radius: 5px;
    overflow: hidden;
}

label {
    color: #fff;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}


.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.flash-message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}
