<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <meta name="description" content="GREAT Lab Observation Management">
</head>
<body>
    <!-- Include Header -->
    {% include 'header.html' %}
    <!-- Header -->

    <!-- Main Content -->
    <div class="container main-banner">
        <div class="container main-content">
            <h1>About GREAT Lab</h1>
            <h2>Introduction of Our Group</h2>
            <form method="post">
                <p>"In observing the changes, we realize that the heavens and earth cannot be contained in a single moment; in observing the constants, we understand that all things, including ourselves, are boundless." ---Su Shi, "Ode to the Red Cliffs."</p>
                <p>The Universe is filled with dazzling and spectacular celestial explosions. When do they occur? Why do they happen? Where do these eruptions take place? And what unfolds after their occurrence?</p>
                <p>The scientific objective of our laboratory is to study stellar-scale transient astronomical phenomena, including supernova explosions, superluminous supernovae, electromagnetic counterparts of gravitational wave sources, kilonovae, and fast blue optical transients. These are currently prominent and at the frontier of research topics in the time-domain astronomy field. Our GREAT lab is establishing a global collaborative observation network, integrating resources from Lulin Observatory, the Trans-Pacific 2-m telescope, the European Southern Observatory, and other international collaborative projects. Through comprehensive and real-time observations of newly explosive transient events, along with comparisons to theoretical models and the study of host galaxy environments, we aim to gain a deeper understanding of the mechanisms behind these transient phenomena and explore their contributions to the origin of heavy elements in the Universe.</p>
                <p>Our GREAT Lab is involved in or leading the following international collaborative projects:</p>

                <ul>
                    <li>The advanced extended Public European Southern Observatory Spectroscopic Survey of Transient Objects (ePESSTO+)</li>
                    <li>Kinder (Kilonova Finder)</li>
                    <li>Electromagnetic counterparts of gravitational wave sources at the Very Large Telescope (ENGRAVE)</li>
                    <li>Asteroid Terrestrial-impact Last Alert System (ATLAS)</li>
                    <li>Zwicky Transient Facility (ZTF)</li>
                    <li>Legacy Survey of Space and Time (LSST)</li>
                </ul>

                <p>We acknowledge the Yushan Fellow Program by the Ministry of Education, Taiwan for the financial support (MOE-111-YSFMS-0008-001-P1).</p>
            </form>
        </div>
    </div>
    <!-- Main Content -->


    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Footer -->
<body>