<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New File</title>
    <link rel="stylesheet" href="/static/admin_file_manager.css">
    {% include 'favicon.html' %}
</head>
<body>
    <!-- Include Header -->
    {% include 'header.html' %}
    <div id="admin-file-manager">
        <h1>Create New File in /{{ current_path }}</h1>
        <form method="POST">
            <label for="filename">File Name:</label>
            <input type="text" name="filename" required>
            <br>
            <textarea name="content" style="width:90%; height:400px;" placeholder="File content here..."></textarea>
            <br>
            <button type="submit">Create</button>
            <a href="{{ url_for('admin_file_manager', path=current_path) }}">Cancel</a>
        </form>
    </div>
</body>
</html>
