<head>
    <meta charset="UTF-8">
    <title>GREAT Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
</head>
<footer>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-text">
                <h3>About us</h3>
                <p>Institue of Astronomy, National Central University, Taiwan </p>
                <p><a href="https://sites.google.com/view/great-lab/home?authuser=0" target="_blank" rel="noopener noreferrer">
                    Great and Rare Exotic Astronomical Transients Laboratory
                </a></p>
                &copy; 2024 GREAT Lab
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <p>Email: <span id="email"></span></p>
                <p>Tel: 886-3-422-7151#65964</p>
            </div>
        </div>
    </div>
</footer>
<script>
    const localPart = "kinder";
    const domain = "astro.ncu.edu.tw";
    document.getElementById("email").innerText = `${localPart}[@]${domain}`;
</script>
