<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Header -->

    <!-- Main Content -->
    <div class="container main-banner">
        <div class="container main-content">
            <h1>Forgot Password</h1>

            <!-- error message -->
            <div id="error-message" style="color: red; margin-bottom:10px;"></div>

            <p>Enter your email address to reset your password:</p>
            <form method="POST" action="{{ url_for('forgot_password') }}">
                <input type="email" name="email" id="email" required>
                <button type="submit">Submit</button>
            </form>

            <!-- Register Button -->
            
        </div>
    </div>
    <!-- Main Content -->

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Footer -->

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error') === '2') {
            document.getElementById('error-message').innerText = 'Email not found. Please enter a registered email.';
        }
    </script>
</body>
</html>
