<head>
    <meta charset="UTF-8">
    <title>GREAT Lab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    {% include 'favicon.html' %}
</head>
<header>
    <div class="container">
        <div class="header-content">
            <!-- Logo -->
            <a href="/" class="logo">
                <p>Kinder</p>
            </a>
            <!-- Navigation -->
            <nav class="main-nav">
                <ul class="nav nav-left">
                    <li>
                        <a href="{{ url_for('object_list') }}" class="{% if request.path == '/object_list.html' %}active{% endif %}">
                            Object list
                        </a>
                    </li>

                    <li class="dropdown">
                        <a href="#">Tools ∨</a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="{{ url_for('object_plot', next=request.path) }}" class="{% if request.path == '/object_plot.html' %}active{% endif %}">
                                    Object Visibility Plot
                                </a>
                            </li>
                            <!--li>
                                <a href="{{ url_for('trigger_view', next=request.path) }}" class="{% if request.path == '/trigger' %}active{% endif %}">
                                    Lulin-Trigger
                                </a>
                            </li-->
                            <li>
                                <a href="{{ url_for('astronomy_tools', next=request.path) }}" class="{% if request.path == '/astronomy_tools' %}active{% endif %}">
                                    Astronomy tools
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if session.get('organization') == "NCU GREAT Lab" and 'username' in session %}
                        <li class="dropdown">
                            <a href="#">Lab ∨</a>
                            <ul class="dropdown-content">
                                <li>
                                    <a href="https://docs.google.com/spreadsheets/d/1DIpWAHnHcANkU3akCkqCeSfn6sRUtsXkxXXlIb3w6oo/edit?gid=70341031#gid=70341031" target="_blank" rel="noopener noreferrer">
                                        Observation log
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
                    {% endif %}
                    
                    <li class="dropdown">
                        <a href="#">About Us ∨</a>
                        <ul class="dropdown-content">
                            <li>
                                <a href="https://sites.google.com/view/great-lab/home?authuser=0" target="_blank" rel="noopener noreferrer">
                                    About GREAT Lab
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lulin.ncu.edu.tw/weather/" target="_blank" rel="noopener noreferrer">
                                    NCU Lulin Observatory
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if session.get('username') == 'admin' %}
                        <li class="dropdown">
                            <a href="#">Admin ∨</a>
                            <ul class="dropdown-content">
                                <li>
                                    <a href="{{ url_for('admin_dashboard', next=request.path) }}">User management</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('admin_file_manager') }}">File Manager</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>


                <ul class="nav nav-right">
                    {% if 'username' in session %}
                        <li>
                            <a href="{{ url_for('user_profile') }}" class="{% if request.path == '/user_profile.html' %}active{% endif %}">
                                User: {{ session['username'] }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout', next=request.path) }}" >Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url_for('login_page', next=request.path) }}" >Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>

<!-- Flash Messages -->
<div class="flash-message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-message">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
<!-- Flash Messages End -->

<script>
    setTimeout(function() {
        const flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
            flashMessage.style.display = "none";
        }
    }, 3000);
    
</script>
