<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register - GREAT Lab</title>
    <link rel="stylesheet" href="/static/register.css">
</head>

<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Header -->

    <!-- Main Content -->
    <div class="container main-banner">
        <div class="container main-content">
            <h1>Register</h1>

            <!-- error message -->
            <div id="error-message" style="color: red;">{% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    {{ messages[0] }}
                {% endif %}
            {% endwith %}</div>

            <form method="post" action="{{ url_for('register') }}">
                <p><strong>Do not use commas(",") and colon(":") in any field.</strong></p>
                <div class="form-group">
                    <label for="username">Username(For display and login):</label>
                    <input type="text" id="username" name="username" value="{{ username|default('') }}" required>
                </div>
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" value="{{ first_name|default('') }}" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ last_name|default('') }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ email|default('') }}" required>
                </div>
                <div class="form-group">
                    <label for="organization">Organization and Groups: (e.g. NCU GREAT Lab) </label>
                    <input type="text" id="organization" name="organization" value="{{ organization|default('') }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Enter your password: (English and Number) (>=8)</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm your password:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <div class="form-group inline center">
                    <input type="checkbox" id="show-password" onclick="togglePasswordVisibility()">
                    <label for="show-password">Show Password</label>
                </div>
                
                <!-- Register Button within the form -->
                <div class="button-group">
                    <button type="submit" class="register-button">Register</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Main Content -->

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Footer -->

    <script>
        // show password
        function togglePasswordVisibility() {
            const passwordFields = document.querySelectorAll('#password, #confirm_password');
            passwordFields.forEach(field => {
                field.type = field.type === 'password' ? 'text' : 'password';
            });
        }

        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('error') === '1') {
            const errorDiv = document.getElementById('error-message');
            errorDiv.innerText = 'Invalid username or password';
        }
    </script>
</body>
</html>
