<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Header -->
    <div class="container main-banner">
        <div class="container main-content">
            <div class="container main-successful">
                <div id="successful">
                    <h1>Registration Successful!</h1>
                    <p>Your registration has been received and is awaiting approval.</p>
                    <a href="{{ url_for('home') }}">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Footer -->
</body>
</html>
