<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Data server</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="description" content="GREAT Lab data server">
    {% include 'favicon.html' %}
</head>

<body>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="header-content">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <p>GREAT Lab</p>
                </a>
                <!-- Menu -->
                <nav class="main-nav">
                    <ul class="nav">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="object_list.html">Object list</a></li>
                        <li><a href="observation.html">Observation</a></li>
                        <li><a href="aboutus.html">About Us</a></li> 
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header -->

    <!-- Banner -->
    <div class="main-banner">
        <div class="container">
            <div class="header-text">
                <h1>GREAT Lab Data Server</h1>
            </div>
            <div class="search-area">
                <input type="text" name="text" class="searchText" placeholder="Object name" autocomplete="off" required>
                <button class="main-button"><i class="search"></i> Search Now</button>
            </div>
            <div class="detail-text">
                <p>Search the transient object</p>
            </div>
        </div>
    </div>
    <!-- Banner -->

    <!-- Footer -->
    <footer>
        <div class="footer">
            <div class="footer-container">
                <div class="footer-text">
                    <h3>About us</h3>
                    <p>
                        National Central University GREAT Lab
                    </p>
                    &copy; 2024 GREAT Lab
                </div>
                <div class="footer-contact">
                    <h3>Contact</h3>
                    <p>Email: abcd@gmail.com</p>
                    <p>Tel: 886-3-422-7151#65964</p>
                    <p>Office: S4-1010</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

</body>

</html>
